.my-work{
    background-color: $white;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    @include media('<=1550px'){
        height: auto;
    }
    .triangles-effect{
        position: absolute;
        display: flex;
        left: 50%;
        margin-left: -45px;
        gap: 15px;
        .tr{
            border-top: 10px solid $yellow;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
        }
    }
    .container{
        margin: auto;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        @include media('<=tablet'){
            font-size: 5rem;
            flex-direction: column;
            gap: 10vh;
        }
        .title-text{
            font-size: 7rem;
            text-align: center;
            p{
                font-size: 1.2rem;
            }
            @include media('<=desktop'){
                font-size: 6.5rem;
            }
            @include media('<=tablet'){
                font-size: 15vw;
                margin: 0;
                margin-top: 3rem;
                flex: 0;
                h3{
                    word-spacing: normal;
                }
                p{
                    font-size: 1.3rem;
                }
            }
        }  
        .projects-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            @include media('<=tablet'){
                display: flex;
            }
            .project{
                margin: 2rem;
                width: 20rem;
                height: 11.2rem;
                background-color: $blue;
                color: $black;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden;
                cursor: pointer;
                border: 1px solid lightgray;
                @include media('<=phone'){
                    width: 16rem;
                    height: 9rem;
                }
                &:hover .hover-effect p{
                    transform: translateY(0%);
                }
                &:hover .hover-effect{
                    background-color: rgba(0, 0, 0, 0.3);
                }
                &:active .hover-effect{
                    background-color: rgba(0, 0, 0, 0.75);
                }
                .hover-effect{
                    pointer-events: none;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    transition: all .25s ease-in;
                    p{
                        transition: all .20s ease-in;
                        transform: translateY(300%);
                        color: $yellow;
                        border: 2px solid $yellow;
                        border-radius: 2.5px;
                        padding: .5rem 1rem;
                        background-color: rgba(0, 0, 0, 0.4);
                        font-size: 13px;
                    }
                }
            }
        }   
    }
}