.ReactModal__Overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s ease-in-out;
    opacity: 0;
    .modal{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        background: $white;
        box-shadow: 0 2.5px 5px  rgba(0, 0, 0, 0.15);
        transition: all .25s ease-in-out;
        opacity: 0;
        transform: translateY(100%);
        padding: 2.5rem;
        border-radius: 10px;
        @include media('<=phone'){
            width: 100%;
            height: 100%;
        }
        .close-icon-container{
            position: relative;
            width: 0;
            height: 0;
            float: right;
            cursor: pointer;
            .icon{
                position: absolute;
                top: -25px;
                left: 10px;
                height: 20px;
                width: 20px;
                @include media('<=phone'){
                    top: 20px;
                    left: 0px;
                }
            }
        }
        .modal-content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .project-image{
                height: 20rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                min-width: 35rem;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
                @include media('<=phone'){
                    height: 8.5rem;
                    min-width: 15rem;
                }
            }
            .project-info{
                padding: .5rem 0;
                width: 100%;
                @include media('<=phone'){
                    padding:2rem 0;
                }
                div{
                    padding: .5rem 1rem;
                    h4{
                        font-family: 'Prata', serif;
                        color: $black;
                        font-size: 18px;
                    }
                    p{
                        color: $black;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
                a{
                    margin: .5rem 1rem;
                    color: $black;
                    background-color: $yellow;
                    font-family: 'Poppins';
                    font-size: 1rem;
                    cursor: pointer;
                    display: inline-block;
                    padding: .5rem;
                    text-decoration: none;
                }
                a:hover{
                    color: $yellow;
                    background-color: $black;
                }
            }
        }
    }
}

.ReactModalPortal .ReactModal__Overlay--after-open  {
    opacity:1 ;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity:0 ;
}


.ReactModalPortal .ReactModal__Overlay--after-open .modal {
    opacity:1 ;
    transform: translateY(0%);
}

.ReactModalPortal .ReactModal__Overlay--before-close .modal {
    opacity:0 ;
    transform: translateY(100%);
}
