.what-i-use{
    background-color: $white;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    @include media('<=1100px'){
        height: auto;
    }
    .container{
        margin: auto;
        height: 100%;
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        @include media('<=desktop'){
            width: 80vw;
        }
        @include media('<=tablet'){
            font-size: 5rem;
            width: 75vw;
            flex-direction: column;
            gap: 10vh;
        }
        .title-text{
            flex: 1;
            font-size: 7rem;
            order: 1;
            text-align: center;
            margin-top: -10rem;
            h3 {
              word-spacing: 9999rem;
            }
            h3 ~ h3 {
              word-spacing: unset;
              display: table-caption;
            }
            @include media('<=desktop'){
                font-size: 6.5rem;
            }
            @include media('<=tablet'){
                font-size: 15vw;
                margin: 0;
                margin-top: 3rem;
                flex: 0;
                h3{
                    word-spacing: normal;
                }
            }
        }
        .languages-container{
            flex: 1;
            margin-top: 22rem;
            @include media('<=tablet'){
                order: 2;
                margin: 0;
                flex: 0;
            }
            p{
                // margin-bottom: 3rem;   
                text-align: center;
                font-size: 1.2rem;
                @include media('<=desktop'){
                    font-size: 1.15rem;
                }
                @include media('<=tablet'){
                    font-size: 1.2rem;
                    margin: 0;
                    flex: 0;
                }
                span{
                    background-color: $yellow;
                    padding: 0 .3rem;
                    font-family: 'Poppins', sans-serif;
                }
            }
            .programing-langs-icons{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                height: 25rem;
                justify-content: center;
                align-content: center;
                @include media('<=tablet'){
                    flex: 0;
                    height: 17rem;
                    margin-top:3rem;
                }
                .lang-icon{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    svg{
                        width: 37px;
                        fill: $black;
                        @include media('<=tablet'){
                            width: 40px;
                        }
                    }
                    span{
                        margin-top: 15px;
                        transform: translateY();
                        font-family: 'Poppins', sans-serif;
                        font-weight: normal;
                        font-size: 13px;
                        @include media('<=tablet'){
                            font-size: 11px;
                            margin-top: 5px;
                        }
                    }
                }
            }
            .lines-effect{
                position: relative;
                top: -120px;
                left: 40px;
                display: flex;
                gap: 5px;
                @include media('<=tablet'){
                    display: none;
                }
                .horz-lines{
                    .line{
                        width: 40px;
                        height: 5px;
                        background-color: $yellow;
                        margin-bottom: 5px;
                    }
                }
                .vert-lines{
                    display: flex;
                    .line{
                        height: 35px;
                        width: 5px;
                        background-color: $yellow;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}